/* Styles for the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2ecee;
}

/* Styles for the logo image */
nav div a img {
    display: block;
    max-width: 150px;
    height: auto;
}

/* Styles for the navigation links */
nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    justify-content: space-evenly;
}

nav #cart {
    display: flex;
    align-items: center;
    color: #0bad98;
}

/* Styles for the discount section */
#discount {
    background-color: #ff3ba0;
    padding: 10px;
}

.marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

/* Styles for the bill container */
#billContainer {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#billContainer h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

#billContainer input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

#billContainer button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ff3ba0;
    color: #fff;
    border: none;
    cursor: pointer;
    color: black;
}

#billContainer h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Styles for the cart container */
#cartContainer {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item {
    background-color: #f7d8d8;
    /* Pink background color */
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item p {
    margin: 0;
}
.proceed-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.proceed-button button {
    background-color: #e0136f;
    /* Lighter pink background color */
    color: #090101;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    nav {
        flex-wrap: wrap;
    }

    nav div:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav div a img {
        max-width: 120px;
    }

    #billContainer {
        font-size: 14px;
    }

    #billContainer input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
